In [1]:
import requests
import pandas as pd
from typing import Text
from flask import Flask, render_template
import pandas as pd
import requests
from datetime import timedelta, datetime

In [143]:
def getPlayerInfo(playerId):
    url2 = 'https://fantasy.premierleague.com/api/event/28/live/'
    r2 = requests.get(url2)
    json2 = r2.json()
    liveInfo = pd.DataFrame(json2['elements'])
    liveInfo = pd.DataFrame(liveInfo['explain'].values.tolist())

    liveInfo = liveInfo.iat[playerId - 1,0]

    playerInfo = []
    for info in liveInfo['stats']:
        if (info['identifier'] != 'bonus'):
            playerInfo.append(info)
    
    try:
        if bonuspoints.at[playerId] > 0:
            playerInfo.append({'identifier': 'bonus', 'points': bonuspoints.at[playerId], 'value': bonuspoints.at[playerId]})
    except:
        pass

    return playerInfo

In [144]:
getPlayerInfo(42)

[{'identifier': 'minutes', 'points': 2, 'value': 90},
 {'identifier': 'bonus', 'points': 2, 'value': 2}]

In [154]:
data

             navn  points  pos   photo  byttet_ut  byttet_inn
0        Martínez       3    1   98980      False       False
1         Cancelo      12    2  121145      False       False
2            Dias       6    2  171314      False       False
3         Targett       4    2  169359      False       False
4        Raphinha       3    3  219961      False        True
5           Salah       0    3  118748      False       False
6       Fernandes       0    3  141746      False       False
7             Son       0    3   85971      False       False
8         Watkins       5    4  178301      False       False
9         Bamford       1    4  106617      False       False
10  Calvert-Lewin       6    4  177815      False       False
11           Pope       0    1   98747      False       False
12       Gündogan       0    3   59859       True       False
13         Dallas       0    2   87873      False       False
14         Coufal       0    2  164555      False       False

In [219]:
def getLivePlayerInfo(playerId):
    pId = (playerId - 1)
    url2 = 'https://fantasy.premierleague.com/api/event/28/live/'
    r2 = requests.get(url2)
    json2 = r2.json()
    liveInfo = pd.DataFrame(json2['elements'])
    liveInfo = pd.DataFrame(liveInfo['stats'].values.tolist())

    playerInfo = {}
    
    playerInfo['Min: '] = liveInfo.at[pId, 'minutes']

    if liveInfo.at[pId, 'goals_scored'] > 0:
        playerInfo['Goal: '] = liveInfo.at[pId, 'minutes']
    
    if liveInfo.at[pId, 'assists'] > 0:
        playerInfo['Assist: '] = liveInfo.at[pId, 'minutes']
    
    if liveInfo.at[pId, 'clean_sheets'] > 0:
        playerInfo['Clean: '] = '✓'

    try:
        if bonuspoints.at[playerId] > 0:
            playerInfo['Bonus: '] = bonuspoints.at[playerId]
    except:
        pass

    return playerInfo

In [220]:
getLivePlayerInfo(42)

{'Min: ': 90, 'Bonus: ': 2}

In [ ]:
def getTeamList():
        url2 = 'https://fantasy.premierleague.com/api/leagues-classic/627607/standings/'
        r2 = requests.get(url2)
        json2 = r2.json()
        standings_df = pd.DataFrame(json2['standings'])
        league_df = pd.DataFrame(standings_df['results'].values.tolist())
        return league_df [['entry', 'player_name']]

teamsList = getTeamList()

In [6]:
def getManagerName(lagId):
    for i in range (len(teamsList['entry'])):
        if (teamsList['entry'][i] == int(lagId)):
            return teamsList['player_name'][i]

In [7]:
getManagerName('1309866')

'Vegard Vestvik'

In [8]:
url = 'https://fantasy.premierleague.com/api/entry/3378570/transfers/'
r = requests.get(url)
json = r.json()
trans = pd.DataFrame(json)

In [9]:
trans = trans.set_index('event')

In [10]:
trans.head()

,element_in,element_in_cost,element_out,element_out_cost,entry,time
event,,,,,,
27,570,54,235,68,3378570,2021-03-05T22:22:23.576921Z
26,164,76,262,44,3378570,2021-02-22T10:49:42.220515Z
26,235,68,37,77,3378570,2021-02-22T10:49:42.213685Z
26,29,43,146,39,3378570,2021-02-22T10:49:42.204413Z
25,514,65,569,79,3378570,2021-02-19T08:15:35.356599Z

In [11]:
trans.loc[22]

,element_in,element_in_cost,element_out,element_out_cost,entry,time
event,,,,,,
22,306,95,284,62,3378570,2021-02-02T16:28:42.885177Z
22,506,67,303,87,3378570,2021-02-02T16:28:42.878609Z

In [12]:
def getTransfers(teamID):
    url = 'https://fantasy.premierleague.com/api/entry/'+ str(teamID) + '/transfers/'
    r = requests.get(url)
    json = r.json()
    trans = pd.DataFrame(json).set_index('event')
    thisGw = 23
    try:
        trans = trans.loc[thisGw]
        try:
            for index, row in trans.iterrows():
                print(getPlayerName(row['element_out']) + ' <- ->', getPlayerName(row["element_in"]))
        except:
            print (getPlayerName(trans.at['element_out']) + ' <- ->', getPlayerName(trans.at['element_in']))
    except:
        print('Ingen bytter')

In [13]:
getTransfers(3378570)

Ingen bytter

In [14]:
def getPlayerName(playerID):
    return elements.at[playerID, 'web_name']

In [15]:
getPlayerName(3)

NameError: name 'elements' is not defined

In [16]:
url2 = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r2 = requests.get(url2)
json2 = r2.json()
elements = pd.DataFrame(json2['elements']).set_index('id')

SyntaxError: invalid syntax (<ipython-input-407-23b826c40431>, line 1)

In [17]:
def getAllTransfers():
    url = 'https://fantasy.premierleague.com/api/leagues-classic/627607/standings/'
    r = requests.get(url)
    json = r.json()
    teams = pd.DataFrame(json['standings']['results'])
    playerid = teams[['player_name', 'entry']]

    for i in range(len(playerid)):
        print(playerid.at[i, 'player_name'])
        getTransfers(playerid.at[i, 'entry'])

In [18]:
getAllTransfers()

Vegard Vestvik
Chilwell <- -> Rüdiger
Mitchell <- -> Shaw
Oda Haugane
Ingen bytter
Tor Aimar Carlsen
Ingen bytter
Endre Bratland Skurtveit
Tierney <- -> Cresswell
Cavani <- -> Antonio
Espen Sævig
Chilwell <- -> Alonso
Stian Linde
Ingen bytter
Dan Erik Linde
Robertson <- -> Alonso
Eirik Rode
Ingen bytter
Simen Madsen
Ingen bytter
Hogne Vestvik
Ingen bytter

In [149]:
def getTeamList():
        url2 = 'https://fantasy.premierleague.com/api/leagues-classic/627607/standings/'
        r2 = requests.get(url2)
        json2 = r2.json()
        standings_df = pd.DataFrame(json2['standings'])
        league_df = pd.DataFrame(standings_df['results'].values.tolist())
        return league_df [['entry', 'player_name']]

teamsList = getTeamList()

def getBootstrapTeams():
    url4 = 'https://fantasy.premierleague.com/api/bootstrap-static/'
    r4 = requests.get(url4)
    json = r4.json()
    gameweek_df = pd.DataFrame(json['elements'])
    teams = gameweek_df[['id', 'team', 'element_type']]
    teams.set_index('id', inplace = True)
    return teams

teams = getBootstrapTeams()

def getBootstrapNames():
    url2 = 'https://fantasy.premierleague.com/api/bootstrap-static/'
    r2 = requests.get(url2)
    json2 = r2.json()
    return pd.DataFrame(json2['elements']).set_index('id')

names = getBootstrapNames()

In [150]:
from typing import Text
from flask import Flask, render_template
import pandas as pd
import requests
from datetime import timedelta, datetime

In [236]:
    def checkGameweek():
        url3 = 'https://fantasy.premierleague.com/api/bootstrap-static/'
        r3 = requests.get(url3)
        json = r3.json()
        gameweek_df = pd.DataFrame(json['events'])
        iscurrent = gameweek_df[['id', 'is_current']]
        currentGw = iscurrent.loc[(iscurrent.is_current == True)].iat[0,0]
        return currentGw

    thisGw = checkGameweek()

    def getGwFixtures():
        url2 = 'https://fantasy.premierleague.com/api/fixtures/?event=' + str(thisGw)
        r2 = requests.get(url2)
        json2 = r2.json()
        fixtures_df = pd.DataFrame(json2)
        
        hfixtures = fixtures_df[['team_h', 'finished_provisional']]

        aFixtures = fixtures_df[['team_a', 'finished_provisional']]
        aFixtures.columns = ['team_h', 'finished_provisional']
        
        allFix = hfixtures.append(aFixtures)
        allFix.set_index('team_h', inplace = True)
        return allFix

    allFix = getGwFixtures()

    def getMinutesPlayed():
        url1 = 'https://fantasy.premierleague.com/api/event/' + str(thisGw) + '/live/'
        r1 = requests.get(url1)
        json1 = r1.json()
        liveElements_df = pd.DataFrame(json1['elements'])
        ids = liveElements_df['id']
        stats_df = pd.DataFrame(liveElements_df['stats'].values.tolist())
        minutes = pd.DataFrame(stats_df['minutes'])

        minutes.insert(0, 'id', ids, True)

        minutes.set_index('id', inplace = True)
        return minutes

    minutes = getMinutesPlayed()

    def getPlayerName(playerID):
        return names.at[playerID, 'web_name']

    def didNotPlay(playerId):
        teamId = teams.at[playerId, 'team']
        try:
            return minutes.at[playerId, 'minutes'] == 0 and all(allFix.at[teamId, 'finished_provisional'])
        except:
            try:
                return minutes.at[playerId, 'minutes'] == 0 and allFix.at[teamId, 'finished_provisional']
            except:
                return True
    
    def getAutoSubs(teamId):   
        url4 = 'https://fantasy.premierleague.com/api/entry/' + str(teamId) + '/event/' + str(thisGw) + '/picks/'
        r4 = requests.get(url4)
        json4 = r4.json()
        picks_df = pd.DataFrame(json4['picks'])

        spillerListeOrg = picks_df[['element', 'multiplier', 'is_captain', 'is_vice_captain']]
        
        spillerListeOrg['byttet_inn'] = False
        spillerListeOrg['byttet_ut'] = False
        spillerListe = spillerListeOrg.copy()
        

        minDef = 3
        minMid = 2
        minAtt = 1

        countGk = 0
        countDef = 0
        countMid = 0
        countAtt = 0

        gk = 1
        defs = 2
        mids = 3
        atts = 4

        keeperbytte = spillerListe.iat[11, 0]

        for obj in spillerListe['element'][0:11]:
            starter = obj
            spillerpos = teams.at[starter, 'element_type']
            spilteIkke = didNotPlay(starter)

            if not spilteIkke:
                if spillerpos == gk:
                    countGk += 1
                if spillerpos == defs:
                    countDef += 1
                if spillerpos == mids:
                    countMid += 1
                if spillerpos == atts:
                    countAtt += 1

        for i in range(len(spillerListe[0:11])):
            if (countGk + countDef + countMid + countAtt) == 11:
                break
            
            starter = spillerListe.iat[i,0]
            spilteIkke = didNotPlay(starter)
            spillerpos = teams.at[starter, 'element_type']

            erKaptein = spillerListe.iat[i, 2]

            # sjekke kaptein
            if spilteIkke and erKaptein:
                spillerListe.loc[spillerListe['is_vice_captain'] == True, 'multiplier'] = spillerListe.iat[i, 1]
                spillerListe.iat[i, 1] = 0

            # keeperbytte
            if spillerpos == gk and spilteIkke:
                spillerListe.iat[i,1] = 0
                if not didNotPlay(keeperbytte):
                    spillerListe.iat[i, 0], spillerListe.iat[11, 0] = spillerListe.iat[11, 0], spillerListe.iat[i, 0]
                    spillerListe.iat[i,1] = 1
                    spillerListe.at[i, 'byttet_inn'] = True
                    spillerListe.at[11, 'byttet_ut'] = True
                    countGk += 1
                else:
                    countGk += 1
                    
            # bytte fra benken
            if spillerpos != gk and spilteIkke:
                
                spillerListe.iat[i,1] = 0
                byttet = False

                for j in range (len(spillerListe[12:15])):
                    if didNotPlay(spillerListe[12:15].iat[j,0]):
                        continue
                    
                    innbytterPos = teams.at[spillerListe[12:15].iat[j,0], 'element_type']

                    if countDef >= minDef and countMid >= minMid and countAtt >= minAtt:
                        spillerListe.iat[i,0], spillerListe[12:15].iat[j,0] = spillerListe[12:15].iat[j,0], spillerListe.iat[i,0] 
                        spillerListe.iat[i,1] = 1

                        spillerListe.at[i, 'byttet_inn'] = True
                        spillerListe.at[j + 12, 'byttet_ut'] = True

                        if innbytterPos == defs:
                            countDef += 1
                        if innbytterPos == mids:
                            countMid += 1
                        if innbytterPos == atts:
                            countAtt += 1
                        byttet = True
                        break           
                            
                    if countDef < minDef and innbytterPos == defs:
                        spillerListe.iat[i,0], spillerListe[12:15].iat[j,0] = spillerListe[12:15].iat[j,0], spillerListe.iat[i,0]
                        spillerListe.iat[i,1] = 1
                        spillerListe.at[i, 'byttet_inn'] = True
                        spillerListe.at[j + 12, 'byttet_ut'] = True

                        countDef += 1
                        byttet = True
                        break

                    if countMid < minMid and innbytterPos == mids:
                        spillerListe.iat[i,0], spillerListe[12:15].iat[j,0] = spillerListe[12:15].iat[j,0], spillerListe.iat[i,0]
                        spillerListe.iat[i,1] = 1
                        spillerListe.at[i, 'byttet_inn'] = True
                        spillerListe.at[j + 12, 'byttet_ut'] = True                       
                        countMid += 1
                        byttet = True
                        break

                    if countAtt < minAtt and innbytterPos == atts:
                        spillerListe.iat[i,0], spillerListe[12:15].iat[j,0] = spillerListe[12:15].iat[j,0], spillerListe.iat[i,0]
                        spillerListe.iat[i,1] = 1
                        spillerListe.at[i, 'byttet_inn'] = True
                        spillerListe.at[j + 12, 'byttet_ut'] = True
                        countAtt += 1
                        byttet = True
                        break
                    
                if byttet == False:
                    if spillerpos == defs:
                        countDef += 1
                    if spillerpos == mids:
                        countMid += 1
                    if spillerpos == atts:
                        countAtt += 1
        
        navn = []
        for spiller in spillerListe['element']:
            navn.append(getPlayerName(spiller))

        spillerListe['navn'] = navn
                    
        return spillerListe[['element', 'multiplier', 'navn', 'byttet_inn', 'byttet_ut']]
                

    def getBonusLists():
        liste = []
        elements = pd.DataFrame()
        url = 'https://fantasy.premierleague.com/api/fixtures/?event=' + str(thisGw)
        r = requests.get(url)
        json = r.json()
        fixtures_df = pd.DataFrame(json)
        
        now = datetime.utcnow()
        for i in range (len(fixtures_df)):
            gameStart = fixtures_df.at[i, 'kickoff_time']
            gameStart = datetime.strptime(gameStart, "%Y-%m-%dT%H:%M:%SZ")
            played60 = gameStart + timedelta(minutes = 79)
            if now > played60:
                try:
                    stats_df = pd.DataFrame(fixtures_df['stats'].iloc[i])
                    stats_a = pd.DataFrame(stats_df.loc[9,'a'])
                    stats_h = pd.DataFrame(stats_df.loc[9,'h'])
                    samlet = stats_a.append(stats_h)
                    sort = samlet.sort_values(by=['value'], ascending=False)
                    ferdig = sort.reset_index(drop=True)
                    bps = ferdig[0:8].copy()
                    elements = elements.append(bps, ignore_index = True, sort = False)
                    
                    first = False
                    second = False
                    third = False
                    count = 0
                    for j in range(len(bps)):
                        if first == False:
                            try:
                                if (bps.iat[j,0] == bps.iat[j+1,0]):
                                    liste.append(3)
                                    count += 1
                                elif (bps.iat[j,0] != bps.iat[j+1,0]):
                                    liste.append(3)
                                    count += 1
                                    first = True
                            except:
                                pass

                        elif second == False and count <= 1:
                            try:
                                if (bps.iat[j,0] == bps.iat[j+1,0]):
                                    liste.append(2)
                                    count -= 1
                                elif (bps.iat[j,0] != bps.iat[j+1,0]):
                                    liste.append(2)
                                    count += 1
                                    second = True
                            except:
                                pass

                        elif third == False and count == 2:
                            try:
                                if (bps.iat[j,0] == bps.iat[j+1,0]):
                                    liste.append(1)
                                elif (bps.iat[j,0] != bps.iat[j+1,0]):
                                    liste.append(1)
                                    third = True
                            except:
                                pass
                        else:
                            liste.append(0)
                except:
                    pass
        try:
            elements['bonus'] = liste
            return elements.set_index('element', inplace=False)['bonus']
        except:
            return []

    bonuspoints = getBonusLists()

    def getLiveBonusList(teamId):
        picks = getAutoSubs(teamId)
        bonusPoeng = []
        for ids in picks['element']:
            try:
                bonusPoeng.append(sum(bonuspoints.at[ids]))
            except:
                try:
                    bonusPoeng.append(bonuspoints.at[ids])
                except:
                    bonusPoeng.append(0)
            
        return bonusPoeng

    def getAllPlayerList():
        url = 'https://fantasy.premierleague.com/api/event/' + str(thisGw) + '/live/'
        r = requests.get(url)
        json = r.json()
        liveElements_df = pd.DataFrame(json['elements'])
        liveId = liveElements_df['id']
        stats_df = pd.DataFrame(liveElements_df['stats'].values.tolist())
        liveTotPoints_df = pd.DataFrame(stats_df[['total_points', 'bonus']])
        liveTotPoints_df.insert(0,'id', liveId, True)
        return liveTotPoints_df

    liveTotPoints = getAllPlayerList()

    def getLivePlayerPoints(teamId):
        slim_picks = getAutoSubs(teamId)
        
        slim_picks['live_bonus'] = getLiveBonusList(teamId)
        
        poeng = []
        for i in range(len(slim_picks)):
            tempId = slim_picks.at[i,'element']
            poeng.append((liveTotPoints.iat[tempId - 1, 1] + slim_picks.at[i, 'live_bonus'] - 
                    liveTotPoints.iat[tempId - 1, 2]) * slim_picks.at[i, 'multiplier'])
            
        return poeng

    def getPointsAndPlayers(teamId):
        tabell = getAutoSubs(teamId)
        poeng = getLivePlayerPoints(teamId)

        tabell['points'] = poeng

        posisjon = []
        photo = []
        for player in tabell['element']:
            posisjon.append(teams.at[player, 'element_type'])
            photo.append(names.at[player, 'code'])

        tabell['pos'] = posisjon
        tabell['photo'f] = photo

        liveInfo = []
        for player in tabell['element']:
            liveInfo.append(getPlayerInfo(player))
        
        tabell['live'] = liveInfo

        return tabell[['navn', 'points', 'pos', 'photo', 'multiplier', 'byttet_inn', 'byttet_ut', 'live']]
    

    data = getPointsAndPlayers(3378570)
    data = data.to_dict(orient="records")

In [248]:
for player in data[0:11]:
    if player['pos'] == 1:     
        for info in player['live']:
            print(info['identifier'])

minutes

In [245]:
data

[{'navn': 'McCarthy',
  'points': 0,
  'pos': 1,
  'photo': 58376,
  'multiplier': 1,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 0, 'value': 0}]},
 {'navn': 'Dias',
  'points': 6,
  'pos': 2,
  'photo': 171314,
  'multiplier': 1,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 2, 'value': 74},
   {'identifier': 'clean_sheets', 'points': 4, 'value': 1}]},
 {'navn': 'Stones',
  'points': 14,
  'pos': 2,
  'photo': 97299,
  'multiplier': 1,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 2, 'value': 90},
   {'identifier': 'goals_scored', 'points': 6, 'value': 1},
   {'identifier': 'clean_sheets', 'points': 4, 'value': 1},
   {'identifier': 'bonus', 'points': 2, 'value': 2}]},
 {'navn': 'El Mohamady',
  'points': 2,
  'pos': 2,
  'photo': 37339,
  'multiplier': 1,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 2, 'value': 90}]},
 {'navn': 'Targett',
  'points': 4,
  'pos': 2,
  'photo': 169359,
  'multiplier': 1,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 2, 'value': 90},
   {'identifier': 'bonus', 'points': 2, 'value': 2}]},
 {'navn': 'Son',
  'points': 0,
  'pos': 3,
  'photo': 85971,
  'multiplier': 1,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 0, 'value': 0}]},
 {'navn': 'Fernandes',
  'points': 0,
  'pos': 3,
  'photo': 141746,
  'multiplier': 2,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 0, 'value': 0}]},
 {'navn': 'Raphinha',
  'points': 3,
  'pos': 3,
  'photo': 219961,
  'multiplier': 1,
  'byttet_inn': True,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 2, 'value': 90},
   {'identifier': 'clean_sheets', 'points': 1, 'value': 1}]},
 {'navn': 'Jota',
  'points': 0,
  'pos': 3,
  'photo': 194634,
  'multiplier': 1,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 0, 'value': 0}]},
 {'navn': 'Calvert-Lewin',
  'points': 6,
  'pos': 4,
  'photo': 177815,
  'multiplier': 1,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 2, 'value': 90},
   {'identifier': 'goals_scored', 'points': 4, 'value': 1}]},
 {'navn': 'Watkins',
  'points': 5,
  'pos': 4,
  'photo': 178301,
  'multiplier': 1,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 2, 'value': 90},
   {'identifier': 'assists', 'points': 3, 'value': 1}]},
 {'navn': 'Peacock-Farrell',
  'points': 0,
  'pos': 1,
  'photo': 220037,
  'multiplier': 0,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 0, 'value': 0}]},
 {'navn': 'De Bruyne',
  'points': 0,
  'pos': 3,
  'photo': 61366,
  'multiplier': 0,
  'byttet_inn': False,
  'byttet_ut': True,
  'live': [{'identifier': 'minutes', 'points': 0, 'value': 0}]},
 {'navn': 'Bamford',
  'points': 0,
  'pos': 4,
  'photo': 106617,
  'multiplier': 0,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 1, 'value': 34}]},
 {'navn': 'Coufal',
  'points': 0,
  'pos': 2,
  'photo': 164555,
  'multiplier': 0,
  'byttet_inn': False,
  'byttet_ut': False,
  'live': [{'identifier': 'minutes', 'points': 0, 'value': 0}]}]

In [21]:
data

[{'navn': 'McCarthy', 'points': 0, 'pos': 1, 'photo': 58376},
 {'navn': 'Dias', 'points': 0, 'pos': 2, 'photo': 171314},
 {'navn': 'Stones', 'points': 0, 'pos': 2, 'photo': 97299},
 {'navn': 'Coufal', 'points': 0, 'pos': 2, 'photo': 164555},
 {'navn': 'Targett', 'points': 0, 'pos': 2, 'photo': 169359},
 {'navn': 'Son', 'points': 0, 'pos': 3, 'photo': 85971},
 {'navn': 'Fernandes', 'points': 0, 'pos': 3, 'photo': 141746},
 {'navn': 'Rashford', 'points': 0, 'pos': 3, 'photo': 176297},
 {'navn': 'Sterling', 'points': 0, 'pos': 3, 'photo': 103955},
 {'navn': 'Bamford', 'points': 0, 'pos': 4, 'photo': 106617},
 {'navn': 'Calvert-Lewin', 'points': 0, 'pos': 4, 'photo': 177815},
 {'navn': 'Peacock-Farrell', 'points': 0, 'pos': 1, 'photo': 220037},
 {'navn': 'Raphinha', 'points': 0, 'pos': 3, 'photo': 219961},
 {'navn': 'El Mohamady', 'points': 0, 'pos': 2, 'photo': 37339},
 {'navn': 'Watkins', 'points': 0, 'pos': 4, 'photo': 178301}]

In [40]:
def test():

    for dic in data: 
        if dic["pos"] == 1:
            return (dic["navn"])

In [41]:
test()

'McCarthy'

In [106]:
data

dict_values(['McCarthy', 0, 1, 58376])

In [26]:
a_dict = [{'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}, 
{'frag': 'nlå', 'frfsat': 'apdsadsaple', 'pdsasdaet': 'ddsqdsog'}]

In [33]:
for key in a_dict:
    for l in key:
        print(l, '->', color)

NameError: name 'color' is not defined

In [132]:
dict = {
    'value1': 1,
    'value2': 2,
    'value3': 3
}
for key, value in dict.items():
    print(value)

1
2
3

In [16]:
tall = [49, 49, 23, 20, 21, 19]

In [17]:
def bonusListe(liste):
    ferdig = []
    bonus = 3
    for i in range (len(liste)-1):
        if liste[i] == liste[i+1]:
            ferdig.append(bonus)
        else:
            ferdig.append(bonus)
            bonus -= 1
    return ferdig

In [18]:
bonusListe(tall)

[3, 3, 2, 1, 0]

In [40]:
url4 = 'https://fantasy.premierleague.com/api/entry/3392596/event/27/picks/'
r4 = requests.get(url4)
json4 = r4.json()
picks_df = pd.DataFrame(json4['picks'])

spillerListeOrg = picks_df[['element', 'multiplier', 'is_captain', 'is_vice_captain']]

spillerListeOrg['byttet_inn'] = False
spillerListeOrg['byttet_ut'] = False
spillerListe = spillerListeOrg.copy()

In [46]:
spillerListe.at[0, 'byttet_inn'] = True
spillerListe.at[4, 'byttet_inn'] = True
spillerListe.at[4, 'byttet_ut'] = True

In [47]:
spillerListe

    element  multiplier  is_captain  is_vice_captain  byttet_inn  byttet_ut
0        96           1       False            False        True      False
1       300           1       False            False       False      False
2       277           1       False            False       False      False
3       556           1       False            False       False      False
4       271           1       False             True        True       True
5       390           2        True            False       False      False
6       302           1       False            False       False      False
7       254           1       False            False       False      False
8       514           1       False            False       False      False
9       437           1       False            False       False      False
10      202           1       False            False       False      False
11      363           0       False            False       False      False
12      570           0       False            False       False      False
13      435           0       False            False       False      False
14      200           0       False            False       False      False

In [40]:
navn = "Vegard Vestvik"

def getFornavn(navn):
    for i in range (len(navn[::-1])):
        if (navn[i::-1]) == any(" "):
            return navn[i::]

In [41]:
getFornavn(navn)

In [36]:
navn[3::-1]

'ageV'

In [49]:
navn[9::1]

'seV drageV'