In [15]:
import requests
import pandas as pd

In [296]:
url = 'https://fantasy.premierleague.com/api/entry/3378570/transfers/'
r = requests.get(url)
json = r.json()
trans = pd.DataFrame(json)

In [318]:
trans = trans.set_index('event')

In [319]:
trans.head()

,element_in,element_in_cost,element_out,element_out_cost,entry,time
event,,,,,,
23,104,56,232,58,3378570,2021-02-05T23:32:02.459212Z
22,306,95,284,62,3378570,2021-02-02T16:28:42.885177Z
22,506,67,303,87,3378570,2021-02-02T16:28:42.878609Z
20,273,51,255,72,3378570,2021-01-26T15:08:08.010761Z
19,284,63,445,63,3378570,2021-01-15T15:44:47.914255Z

In [320]:
trans.loc[22]

,element_in,element_in_cost,element_out,element_out_cost,entry,time
event,,,,,,
22,306,95,284,62,3378570,2021-02-02T16:28:42.885177Z
22,506,67,303,87,3378570,2021-02-02T16:28:42.878609Z

In [417]:
def getTransfers(teamID):
    url = 'https://fantasy.premierleague.com/api/entry/'+ str(teamID) + '/transfers/'
    r = requests.get(url)
    json = r.json()
    trans = pd.DataFrame(json).set_index('event')
    thisGw = 23
    try:
        trans = trans.loc[thisGw]
        try:
            for index, row in trans.iterrows():
                print(getPlayerName(row['element_out']) + ' <- ->', getPlayerName(row["element_in"]))
        except:
            print (getPlayerName(trans.at['element_out']) + ' <- ->', getPlayerName(trans.at['element_in']))
    except:
        print('Ingen bytter')

In [418]:
getTransfers(3378570)

Chilwell <- -> Alonso

In [419]:
def getPlayerName(playerID):
    return elements.at[playerID, 'web_name']

In [420]:
getPlayerName(3)

'David Luiz'

In [421]:
url2 = 'https://fantasy.premierleague.com/api/bootstrap-static/'
r2 = requests.get(url2)
json2 = r2.json()
elements = pd.DataFrame(json2['elements']).set_index('id')

SyntaxError: invalid syntax (<ipython-input-407-23b826c40431>, line 1)

In [422]:
def getAllTransfers():
    url = 'https://fantasy.premierleague.com/api/leagues-classic/627607/standings/'
    r = requests.get(url)
    json = r.json()
    teams = pd.DataFrame(json['standings']['results'])
    playerid = teams[['player_name', 'entry']]

    for i in range(len(playerid)):
        print(playerid.at[i, 'player_name'])
        getTransfers(playerid.at[i, 'entry'])

In [423]:
getAllTransfers()

Vegard Vestvik
Chilwell <- -> Rüdiger
Mitchell <- -> Shaw
Oda Haugane
Ingen bytter
Tor Aimar Carlsen
Ingen bytter
Espen Sævig
Chilwell <- -> Alonso
Endre Bratland Skurtveit
Tierney <- -> Cresswell
Cavani <- -> Antonio
Dan Erik Linde
Robertson <- -> Alonso
Stian Linde
Ingen bytter
Simen Madsen
Ingen bytter
Eirik Rode
Ingen bytter
Hogne Vestvik
Ingen bytter